body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  border: 2px solid rgb(59, 55, 55);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Fixes the navbar to the top of the page */
  top: 0;
  width: 100%; /* Ensures the navbar spans the full width of the page */
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: black;
}

.navbar .right-nav {
  display: flex;
  margin-left: auto;
}

.navbar .right-nav li {
  float: none; /* Resets the float for the right-aligned elements */
}

.navbar li a i {
  margin-right: 8px; /* Adds space between the icon and the text */
}

.home-icon {
  width: 24px;  /* Adjust the size of the home icon */
  height: auto; /* Maintains the aspect ratio */
  vertical-align: middle; /* Aligns the icon vertically in the middle */
}

pre {
  margin-top: 80px; /* Adds space to avoid content being hidden behind the fixed navbar */
  padding: 20px;
}

#container{
  margin-left: 10px;
}