
  <div id="signup">
      <div class="signup-field">
          <label for="signup-title"id="signup-text">Sign Up Page</label>
      </div>
      <div class="signup-field">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
      </div>
      <div class="signup-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
      </div>
      <div class="signup-field">
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
      </div>
      <div class="signup-field">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
      </div>
      <div class="signup-field">
          <button type="submit">Sign Up</button>
      </div>
  </div>

