

    <div id="write">
        <div class="blog-container">
            <h1 id="txt">Write Your Blog</h1>
            <form>
                <textarea name="blogContent" placeholder="Start writing your blog here..."></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>



